<title>Admin Panel</title>
<center><table width=260>
<tr>
<td><button value="Main" action="bypass -h admin_admin" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Events" action="bypass -h admin_show_html events/events.htm" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Chars" action="bypass -h admin_char_manage" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Server" action="bypass -h admin_server admserver.htm" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="GM Shop" action="bypass -h admin_gmshop" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr></table></center><br>
<center>Management:</center><br1>
<center>
<table width=260>
<tr>
<td><button value="Announcements" action="bypass -h admin_list_announcements" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Teleport Menu" action="bypass -h admin_show_moves" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr>
<tr>
<td><button value="Create Item" action="bypass -h admin_itemcreate" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Petitions" action="bypass -h admin_view_petitions" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr>
<tr>
<td><button value="Residences" action="bypass -h admin_residence_list" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Clans" action="bypass -h admin_show_html pledgemanage.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr>
<tr>
<td><button value="List Spawns" action="bypass -h admin_list_spawns $menu_command" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Spawn Menu" action="bypass -h admin_show_spawns" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr>
<tr>
<td><button value="Enchant" action="bypass -h admin_enchant" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Play Sounds" action="bypass -h admin_play_sounds" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr>
<tr>
<td><button value="Find Mammon" action="bypass -h admin_find_mammon" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Ride" action="bypass -h admin_show_html ride.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94">
</td>
</tr>
<tr>
<td><button value="Change Class" action="bypass -h admin_show_html setclass.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Change Sublass" action="bypass -h admin_show_html charsubclasses.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94">
</td>
</tr>
<tr>
<td><button value="Manor" action="bypass -h admin_manor" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Olympiad" action="bypass -h admin_show_html olympiad.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94">
</td>
</tr>
</table></center><br>
<center>Fast Commands:</center><br1>
<center><edit var="menu_command" width=100 height=12></center>
<center>
<table>
<tr>
<td><button value="Kick" action="bypass -h admin_kick $menu_command" width=40 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Kill" action="bypass -h admin_kill" width=40 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Delete" action="bypass -h admin_delete" width=40 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Ban" action="bypass -h admin_ban $menu_command" width=40 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Invis" action="bypass -h admin_invis" width=40 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr>
<tr>
<td><button value="Karma" action="bypass -h admin_setkarma $menu_command" width=40 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr>
</table>
</center><br>
<center>Others:</center><br1>
<center>
<table>
<tr>
<td><button value="Open" action="bypass -h admin_open" width=40 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
<td><button value="Close" action="bypass -h admin_close" width=40 height=20 back="sek.cbui94" fore="sek.cbui94"></td>
</tr>
</table>
</center>
