﻿<title>GM Shop</title>
<center>
<table width=260><tr>
<td><button value="Main" action="bypass -h admin_admin" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
<td><button value="Events" action="bypass -h admin_show_html events/events.htm" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
<td><button value="Chars" action="bypass -h admin_char_manage" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
<td><button value="Server" action="bypass -h admin_server admserver.htm" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
<td><button value="GM Shop" action="bypass -h admin_gmshop" width=50 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
</tr></table><br>
<center>Items:</center><br1>
<table>
	<tr>
		<td><button value="Weapons" action="bypass -h admin_show_html gmshop/weapons.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Hair" action="bypass -h admin_buy 9101" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Jewels" action="bypass -h admin_show_html gmshop/jewels.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="Armors" action="bypass -h admin_show_html gmshop/armors.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Tattoo" action="bypass -h admin_buy 9102" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Dyes" action="bypass -h admin_buy 9151" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
</table>
<table>
	<tr>
		<td><button value="Pets " action="bypass -h admin_show_html gmshop/pets.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Cry & Gem." action="bypass -h admin_buy 9103" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Fishing " action="bypass -h admin_show_html gmshop/fishing.htm" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="Potions" action="bypass -h admin_buy 9104" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Shots" action="bypass -h admin_buy 9105" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Scrolls" action="bypass -h admin_buy 9106" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="Event Items" action="bypass -h admin_buy 9107" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Fun Items" action="bypass -h admin_buy 9108" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Life Stones" action="bypass -h admin_buy 9109" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="Seeds 1" action="bypass -h admin_buy 9110" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Currency" action="bypass -h admin_buy 9111" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Tickets 1" action="bypass -h admin_buy 9113" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="Seeds 2" action="bypass -h admin_buy 9112" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td>&nbsp;</td>
		<td><button value="Tickets 2" action="bypass -h admin_buy 9114" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
</table>
Quest Items
<table>
	<tr>
		<td><button value="0 -> A" action="bypass -h admin_buy 9116" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Class " action="bypass -h admin_buy 9117" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="B -> C" action="bypass -h admin_buy 9118" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="D -> F" action="bypass -h admin_buy 9119" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="G -> I" action="bypass -h admin_buy 9120" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="J -> M" action="bypass -h admin_buy 9121" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="N -> R" action="bypass -h admin_buy 9122" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="S -> T" action="bypass -h admin_buy 9123" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="U -> Z" action="bypass -h admin_buy 9124" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
</table>
Materials & Recipes
<table>
	<tr>
		<td><button value="1" action="bypass -h admin_buy 5200" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="2 " action="bypass -h admin_buy 5201" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="3" action="bypass -h admin_buy 5202" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="4" action="bypass -h admin_buy 5203" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="5" action="bypass -h admin_buy 5204" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="6" action="bypass -h admin_buy 5205" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td><button value="7" action="bypass -h admin_buy 5206" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="8" action="bypass -h admin_buy 5207" width=90 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
		<td><button value="Recipes" action="bypass -h admin_show_html gmshop/recipes.htm" width=85 height=20 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
</table>
<table>
	<tr>
		<td><button value="Spellbook 1" action="bypass -h admin_buy 9125" width=100 height=18 back="sek.cbui94" fore="sek.cbui94"</td>
		<td> &nbsp;</td>
		<td><button value="Spellbook 2" action="bypass -h admin_buy 9126" width=100 height=18 back="sek.cbui94" fore="sek.cbui94"</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
</center>
