!Newbie Guide:

Still trying to make sense of it all? Don't give up! Remember, I'm here to make things easier for you by giving you advice and assigning you missions suitable for your level.

Now go help <font color="LEVEL">%tonpc%</font>. To find her, just follow the <font color="LEVEL">arrow</font> above your head. When you have completed the task she gives you, come see me for your next mission.

Before you go, is there anything else I can do for you?

[npc_%objectId%_Link newbiehelper/guide-1.htm|Ask for advice.]

[npc_%objectId%_Link default/NPCloc/%npcId%.htm|Find NPC.]

[npc_%objectId%_Link newbiehelper/guide-20.htm|Recive blessing of protection.]

[player_help default/newbie_travel.htm|Teleport to another village.]

[npc_%objectId%_Link default/newbie_support.htm|Give me some support magic.]

[npc_%objectId%_Link newbiehelper/guide-12.htm|Tell me about novice characters.]

[npc_%objectId%_Link default/newbie_items.htm|Ask for help with a newbie item.]